$primary: #6E887F
$secondary: #5B7B76
$tertiary: #55776A
$accent: #ED8975
$white: #EDF4F0

\:root
  --wedsite-primary: #{$primary}
  --wedsite-secondary: #{$secondary}
  --wedsite-tertiary: #{$tertiary}
  --wedsite-accent: #{$accent}
  --wedsite-white: #{$white}

//\:export
//  primary: #{$primary}
//  secondary: #{$secondary}
//  tertiary: #{$tertiary}
//  white: #{$white}
