.cover
  padding: 24px
  position: relative
  margin-top: calc(47px + (4px * 2) + (16px * 2))

.galleryThumbs
  overflow: hidden
  *
    overflow: hidden

.galleryThumb
  .ant-image-placeholder, .ant-image-placeholder *
    width: 100% !important
