@use "../constants/colours";
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

[class*="Header_menuItemBG"].ant-menu-item-selected {
    border-bottom: 2px solid white !important;
}

[class*="Header_menuItemNoBG"].ant-menu-item-selected {
    border-bottom: 2px solid var(--wedsite-tertiary-colour) !important;
}

#nprogress .bar {
    background-color: var(--wedsite-primary-colour);
}
#nprogress .peg {
    box-shadow: 0 0 10px var(--wedsite-secondary-colour), 0 0 5px var(--wedsite-primary-colour);
}

/*li.ant-menu-item:hover {*/
/*  color: white !important;*/
/*  border-bottom: 2px solid white !important;*/
/*}*/

/*li.ant-menu-item a:hover {*/
/*  color: white !important;*/
/*}*/

/*.ant-menu-horizontal > .ant-menu-item-selected {*/
/*  border-bottom: 2px solid white !important;*/
/*}*/
