@use "../constants/colours";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Bodoni MT';
    src: url("../fonts/BOD_R.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni MT';
    src: url("../fonts/BOD_I.TTF") format('truetype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --plyr-color-main: var(--wedsite-accent);
}

[class^=OurStory] .plyr__poster {
    background-color: unset;
    background-image: url('https://imgix.femmund.com/wedsite2021/HAN_8688.jpg?fit=clip&h=1440&q=75&auto=compress,format');
    opacity: 1;
}

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection {
    background: var(--wedsite-primary);
}

[class*="Header_menuItemBG"].ant-menu-item-selected {
    border-bottom: 2px solid #FFF !important;
}

[class*="Header_menuItemNoBG"].ant-menu-item-selected {
    border-bottom: 2px solid var(--wedsite-tertiary) !important;
}

.ant-menu .ant-menu-overflowed-submenu {
    color: #FFF !important;
}

.ant-menu {
    .ant-menu-submenu-active {
        color: #FFF !important;
        border-bottom: 2px solid #FFF !important;
    }
    .ant-menu-submenu-title:hover {
        color: #FFF !important;
    }
}

.ant-menu-submenu-popup .ant-menu-item a {
    color: var(--wedsite-tertiary) !important;
}

#nprogress .bar {
    background-color: var(--wedsite-accent);
}
#nprogress .peg {
    box-shadow: 0 0 10px var(--wedsite-accent), 0 0 5px var(--wedsite-white);
}

.ant-image-placeholder, .ant-image-placeholder * {
    width: 100% !important
}

.ant-back-top-icon {
    background: var(--wedsite-accent);
}

.ant-page-header-heading-left {
    width: 72px;
    height: 72px - 20px;
}

.noDecoration {
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
}
