.pageHeaderStyle
    position: relative
    height: 100%
    .ant-page-header-heading-left
        margin: 0 !important
    .ant-page-header-heading-title
        font-size: unset !important

.titleLogo
    border-radius: 48px
    padding: 14px 12px
    transition: background-color 0.2s ease-in-out
    &:hover
        .undText
            color: var(--wedsite-accent)
            transition: color 0.2s ease-in-out
    .undText
        color: var(--wedsite-white)
        transition: color 0.2s ease-in-out

.menu
    background-color: transparent
    border-bottom: unset
    font-weight: bold


.menuDarker
    background-color: rgba(0, 0, 0, .5) !important

.menuItemBG
    &.ant-menu-item-selected
        &.ant-menu-item-selected
            border-bottom: 2px solid white !important
    a
        color: white !important
        &:hover
            color: white
    &:hover
        color: white
        border-bottom: 2px solid white !important

.menuItemNoBG
    &.ant-menu-item-selected
        border-bottom: 2px solid var(--wedsite-tertiary) !important
    a
        color: var(--wedsite-tertiary) !important
        &:hover
            color: var(--wedsite-secondary)
    &:hover
        color: var(--wedsite-tertiary)
        border-bottom: 2px solid var(--wedsite-tertiary) !important
