.imageCover
    transform: scale(1.0)
    object-position: center

.scrollerWrapper
    position: absolute
    bottom: 0
    padding-bottom: 50px
    font-size: 2em
    height: 50vh
    width: 100%
    color: var(--wedsite-white)
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center

.imageCoverWrapper
    position: relative
    height: 100%


.welcomeInvitation
    background-color: var(--wedsite-secondary)
    min-height: 8rem
    padding: 3rem 6rem
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    h2
        font-size: 20pt
        color: var(--wedsite-tertiary)
        text-transform: uppercase

