.imageCover
    transform: scale(1.0)
    object-position: center


.imageCoverWrapper
    position: relative
    height: 100%


.welcomeInvitation
    background-color: var(--wedsite-primary)
    min-height: 8rem
    font-size: 20pt
    padding: 3rem 6rem
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase

