.timelineItemDefaults
    opacity: 0

.timelineItemWrapper
    height: inherit

.timelineItemWrapperParallaxDefault
    opacity: 0
    height: 5px

.timelineHead
    height: auto
    display: flex
    align-items: center

.timelineHeaderStyle
    display: flex
    align-items: center
    color: var(--wedsite-tertiary)
    font-size: 1.5em

.timelineBodyStyle
    color: var(--wedsite-primary)
    font-size: 1.0em
