.timelineItemDefaults
    opacity: 0

.timelineItemWrapper
    height: inherit

.timelineItemWrapperParallaxDefault
    opacity: 0
    height: 5px

.timelineHead
    height: auto
    display: flex
    align-items: center

.timelineHeaderStyle

.timelineContentStyle
